<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/styles/common.css">
        <link rel="stylesheet" href="../static/styles/footer.css">
        <link rel="stylesheet" href="../static/styles/header.css">
        <link rel="stylesheet" href="../static/styles/images.css">
        <link rel="stylesheet" href="../static/styles/saved_profile.css">
        <link rel="icon" href="../static/images/frmr.png">
        <title>Frmr'sMrkt</title>
    </head>
    <body>
        <header>
            <img class="logo" src="../static/images/frmr.png" alt="logo">
            <h4>Frmr'sMrkt</h4>
        </header>
        <div class="main">
            <div class="profile-details">
                <section>
                    <!-- profile pics -->
                    <img class="profile" src="data:{{ mimetype }};base64, {{ company_logo }}" alt="logo">
                </section>
                <section class="details">
                    <h5>Business name: {{ user.business_name }}</h5>
                    <h5>Contact: 0{{ user.contact }}</h5>
                    <h5>Email: {{ user.email }}</h5>
                    <h5>Location: {{ user.location }}</h5>
                    <h5>About: {{ user.about }}</h5>
                </section>
            </div>
            <div class="products-images">
                <section>
                    <img src="../static/images/frmr.png" alt="1">
                    <div>
                        <h5>Price</h5>
                    </div>
                    <h6>about product</h6>
                </section>
                <section>
                    <img src="../static/images/frmr.png" alt="1">
                    <div>
                        <h5>Price</h5>
                    </div>
                    <div class="about"><h6>about product</h6></div>
                </section>
                <section>
                    <img src="../static/images/frmr.png" alt="1">
                    <div>
                        <h5>Price</h5>
                    </div>
                    <div class="about"><h6>about product</h6></div>
                </section>
                <section>
                    <img src="../static/images/frmr.png" alt="1">
                    <div>
                        <h5>Price</h5>
                        <h5>Farm name1</h5>
                    </div>
                    <div class="about"><h6>about product</h6></div>
                </section>
            </div>
        </div>
        <footer>
            <h5>Frmr's Mrkt</h5>
        </footer>
    </body>
</html>
