footer {
    background-color: gray;
    position: relative;
    width: 100%;
    bottom: 0;
    height: 70px;
    margin-bottom: 0px;  
    padding-top: 10px; 
}
footer h5{
    text-align: center;
    color: green;
}