header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 60px;
    border-bottom: black 2px solid;
    justify-content: space-around;
}

.logo {
    background-position: left;
    float: left;
    height: 55px;
}
.profile {
    float: right;
    height: 55px;
}
header h2 {
    color: green;
    float: left;
    cursor: pointer;
}

.login {
    height: 30px;
    text-align: center;
    margin: 4px;
    float:right;
    margin-top: 10px;
}

.register-dropbtn {
    height: 30px;
    margin: 4px;
    margin-top: 10px;
    text-align: center;
    float: right;
}
.register-dropbtn:hover {
    background-color: #ddd;
  }
.dropdown {
    display: inline-block;
    position: relative;
    float: right;
}

.dropbox-options {
  display: none;
  position: absolute;
  overflow: auto;
  background-color:#fff;
  border-radius:5px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropbox-options a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  padding:20px 40px;
}
.dropbox-options a:hover {
  color: #0a0a23;
  background-color: #ddd;
  border-radius:5px;
}

.dropdown:hover .dropbox-options {
  display: block;
}
