.products-images {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.products-images img {
    height: 70%;
    width: 100%;

}

.products-images section {
    flex-basis: calc(20% - 10px);
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border: wheat 1px solid;
    border-radius: 5px;
    padding: 2px;
}

.products-images section div {
    display: flex;
    justify-content: space-evenly;
    height: 15%;
}
