
.profile-details .details {
    width: 50%;
} 
.profile-details {
    margin: 40px;
    margin-right: 50px;
    width: 70%;
    border: wheat 2px solid;
    padding: 5px;
    border-radius: 3px;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

